@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;

}


.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 7%;
    min-height: 100vh;
    gap: 15px;
    padding-bottom: 0px;
    background-color: #362360;
}

.container .content{
    flex: 1 1 400px;
}

.container .image{
    flex: 1 1 400px;
}

.container .image img{
    width: 100%;
}

.container .content .title{
    font-size: 45px;
    text-transform: uppercase;
    color: #84a6d3;
}

.container .content h1{
    color: #e9f3fb;
    padding: 5px 0;
}

.container .content .count-down{
    display: flex;
    gap: 15px;
    padding:10px 0 ;
}

.container .content .count-down .box{
    padding: 5px;
    background: #ede8ef;
    border: solid 1px #3333;
    text-align: center;
    flex: 1 1 20px;
}

.container .content .count-down .box:hover{
    background: #362360;
}

.container .content .count-down .box h3{
    font-size: 50px;
    color: #362360;
}

.container .content .count-down .box span{
    color: #362360;
    padding: 5px 0;
    font-size: 20px;
}


.container .content .btn{
    display: inline-block;
    padding: 8px 50px;
    margin: 10px 0;
    font-size: 17px;
    background: #c35e9e ;
    color: #e9f3fb;
    transition: .2s ease-out;
}

.container .content .btn:hover{
    letter-spacing: 2px;
    background: #c3aed9;
}

footer{
    background: #362360;
    text-align: center;
}

footer p{
    padding: 10px;
    color: #e9f3fb;
}

footer p a{
    color: #c35e9e;
    text-decoration: none;
}

footer p a:hover{
    color: #c3aed9;
    letter-spacing: 2px;
}







@media (max-width:500px){

    .container {
        padding: 20px;
    }

    .container .content{
        text-align: center;
    }

    .container .content .title{
        font-size: 35px;
    }

    .container .content h3{
        font-size: 14px;
    }

    .container .content  .count-down{
        gap: 5px;
    }

    .container .content .count-down .box h3{
        font-size: 30px;
    }

    .container .content .count-down .box span{
        font-size: 15px;
    }
    
}

/* for btn list */
.list{
    display: flex;
    align-items: center;
}

ul{
    padding:10px 100px;
}

ul li {
    list-style: square;
    color: #ede8ef;
}

ul li::marker {
    animation-name: GFG;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

ul li:nth-child(1)::marker {
    animation-delay: 0;
}

ul li:nth-child(2)::marker {
    animation-delay: 0.5s;
}

ul li:nth-child(3)::marker {
    animation-delay: 1.0s;
}

ul li:nth-child(4)::marker {
    animation-delay: 1.5s;
}

ul li:nth-child(5)::marker {
    animation-delay: 2.0s;
}

@keyframes GFG {
    from {
        font-size: 12px;
    }

    to {
        font-size: 30px;
        color: #cd5322;
    }
}




